@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h2 {
  font-size: 1.5rem;
}

a {
  color: green;
  text-decoration: none;
}

/* style slides  */
.slick-prev:before, .slick-next:before {
  color: #6B7280 !important;
  opacity: 1 !important;
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #10B981 !important;
}

.slick-prev:before {
  left: -10px !important;
}

.slick-next:before {
  right: -10px !important;
}
.slick-progress-bar {
  background-color: green;
}

/* style dots  */
